<div class="experience-main">
    <div class="basic-experience">
        <div class="experience-heading-div">

            <div class="experience-heading-img-div" data-aos="fade-right">
                <img [src]="assetPaths.EXPERIENCE_COVER" alt="Projects & Freelancing">
            </div>
            
            <div class="experience-heading-text-div" data-aos="fade-left">
                <h1 class="experience-heading-text">
                    {{ appConfig.experiencePageTitle }}
                </h1>
                <p class="experience-header-detail-text subTitle">
                    {{ appConfig.experiencePageDescription }}
                </p>
            </div>
        </div>
    </div>

    @for (exps of appConfig.experienceSections; track $index) {

        <div class="section-heading-text-div" data-aos="fade-up">
            <h1 class="section-heading-text">
                {{ exps.experienceSectionTitle }}
            </h1>
    
            <p class="section-header-detail-text">
                {{ exps.experienceSectionSubtitle }}
            </p>
        </div>
    
    
        <div class="experience-cards-div-main">

            @for (exp of exps.experiences; track $index) {
                <app-experience-card [experience]="exp" class="w-full"></app-experience-card>
            }

        </div>

    }

</div>