<section class="w-full">
    <div class="w-full p-4 mx-auto">
        <div class="grid gap-4 mx-4 sm:grid-cols-12">

            <div class="col-span-12 sm:col-span-3" data-aos="fade-right">
                <div class="text-center sm:text-left mb-14">
                    
                    <a
                        [href]="experience().orgLink"
                        target="_blank"
                        >
                        <img class="max-h-20 mb-4 mx-auto" [src]="experience().orgLogoPath" [alt]="experience().orgName">
                    </a>
                                        
                    <a 
                        [href]="experience().orgLink"
                        target="_blank"
                        class="text-sm w-full text-center font-bold block tracking-wider text-gray-600">
                        {{ experience().orgName }}
                    </a>
                </div>
            </div>

            <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9" data-aos="fade-left">
                <div
                    class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:bg-gray-300">


                    @for (pos of experience().positions; track $index) {

                        <div class="flex flex-col sm:relative sm:before:absolute sm:before:top-2 sm:before:w-4 sm:before:h-4 sm:before:rounded-full sm:before:left-[-35px] sm:before:z-[1] before:bg-blue-800">
                            <h3 class="md:text-left text-xl font-semibold tracking-wide">
                                
                                {{ pos.positionName }}

                                @if (pos.jobType) {
                                    <span class="md:text-left italic text-xs mt-2 tracking-wide text-gray-600">
                                        ( {{ pos.jobType }} )
                                    </span>
                                }
                            </h3>
                            
                            <span class="md:text-left text-xs font-bold mt-2 tracking-wide uppercase">
                                {{ pos.duration }} 
                                
                                @if (pos.location) {
                                    | {{ pos.location }}
                                }

                                @if (pos.locationType) {
                                    ({{ pos.locationType }})
                                }
                            </span>


                            @for (wp of pos.workPoints; track $index) {
                                <p class="mt-3 md:text-left text-gray-600 text-lg">
                                    ⚡ {{ wp }}
                                </p>
                            }

    
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>


